In [4]:
import yfinance as yf
import pandas as pd


def get_exchange_rate(start_date, end_date):
    # 원/달러 환율 데이터 가져오기
    krw_usd = yf.Ticker("KRW=X")

    # 시작 날짜와 종료 날짜로 데이터 필터링
    exchange_rate_data = krw_usd.history(
        period="1d", start=start_date, end=end_date)

    return exchange_rate_data


# 원하는 기간 설정
start_date = "2018-01-01"
end_date = "2023-11-01"

# 원/달러 환율 데이터 가져오기
exchange_rate_data = get_exchange_rate(start_date, end_date)

# 데이터 출력

dollars: float = 0.

history = pd.DataFrame()

# [기준환율, 보유달러, 보유 원화]
interval = [[a, 0.0, 100000000.0] for a in range(1300, 1200, -5)]
selling_rate = 1.005

exchange_rate_data["Index"] = exchange_rate_data.index

for er in exchange_rate_data["Open"]:
    for it in interval:
        # 달러 매수
        if er < it[0] and it[2] > 0.0:
            it[1] = it[2]/er
            it[2] = 0.0
        # 달러 매도
        if er > it[0] * selling_rate and it[1] > 0.0:
            it[2] += it[1] * er
            it[1] = 0.0

account_now = [i[2] + i[1] * exchange_rate_data["Open"][-1] for i in interval]

sum(account_now)

2570815160.5569067

In [52]:
exchange_rate_data["Open"][-1]

1308.2099609375

In [47]:
exchange_rate_data = get_exchange_rate(start_date, end_date)
exchange_rate_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01 00:00:00+00:00,1154.400024,1154.400024,1145.449951,1153.750000,0,0.0,0.0
2020-01-02 00:00:00+00:00,1153.959961,1160.189941,1145.199951,1153.969971,0,0.0,0.0
2020-01-03 00:00:00+00:00,1157.550049,1168.069946,1155.310059,1157.150024,0,0.0,0.0
2020-01-06 00:00:00+00:00,1167.400024,1172.489990,1165.640015,1165.849976,0,0.0,0.0
2020-01-07 00:00:00+00:00,1166.520020,1168.010010,1161.949951,1167.420044,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-31 00:00:00+00:00,1348.069946,1355.260010,1345.520020,1348.069946,0,0.0,0.0
2023-11-01 00:00:00+00:00,1350.160034,1359.150024,1347.729980,1350.160034,0,0.0,0.0
2023-11-02 00:00:00+00:00,1347.839966,1346.469971,1328.119995,1347.839966,0,0.0,0.0
2023-11-03 00:00:00+00:00,1333.680054,1335.920044,1303.560059,1333.680054,0,0.0,0.0
2023-11-04 00:00:00+00:00,1308.209961,1308.209961,1308.209961,1308.209961,0,0.0,0.0